<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Web App</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>


<div class="container">
  <br><br><br>
  <h2> Select an application </h2>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <button type="submit" class="btn btn-success" name="submit" value="Geocode">Geocode</button>
    <br><br>
    <button type="submit" class="btn btn-success" name="submit" value="ReverseGeocode">ReverseGeocode</button>
  </form>

</div>
<br>
</body>
</html>
